<footer class="border-top">
  <div class="f-info">
    <div class="f-info-brand">&copy; UrbanNest Privet Limited</div>
    <div class="f-info-socials">
      <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy </a> &nbsp; &nbsp; & &nbsp; &nbsp; 
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
