<% layout("/layouts/boilerplate.ejs") %>
<div class="mt-3">
  <!-- All Listings -->
  <h3>All Listings</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Show Individual Listing -->
    <% for(let listing of allListings){ %>
    <a href="/listings/<%- listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <img
          src="<%= listing.image %>"
          class="card-img-top"
          alt="listing"
          style="height: 20rem"
        />
        <!-- listing info -->
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b>
            <br />
            &#2547; <%= listing.price.toLocaleString('en-BD') %> / Night
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</div>
