/* body{
    background-color: pink;
} */

/* Navbar */
.navbar {
    height: 5rem;
    background-color: #fff;
}

.fa-chess-knight {
    color: #ff932c;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}
